.main {
  height : 31em;
  width : 20em;
  font-family : Helvetica;
  color : #444;
  border : 1px solid grey;
  margin : 5% auto;
  user-select : none;
}

.view {
  height : 37%;
  text-align: right;
  letter-spacing: 5px;
  overflow: hidden;
}

#view-out {
  height : 70%;
}

#view {
  float: right;
  position: relative;
  bottom : -20%;
  padding: 8% 0;
  line-height: 20px;
}

#answer-auto {
  height : 30%;
}

#answer {
  float: right;
  font-size : 20px;
  color : #B3B7BE;
}

.numberpad {
  height : 63%;
  width: 100%;
  background-color : #555;
  display : flex;
}

button {
  height : 3.5em;
  width : 3em;
  color : #EEE;
  background : transparent;
  border : none;
  outline : none;
}

.numbers {
  background : #222;
  min-width : 75%;
  height : 100%;
}

/*Not sure if this is needed*/
.numbers button {
  font-size: 1.5em;
}

.right-align {
  min-width: 25%;
  text-align: center;
}

.right-align button {
  text-align: center;
  font-size: 1.4em;
  margin-top : -14px;
}

.clear {
  padding-top: 1em;
}

/*.operators {
  right : 0px;
  top : 3em;
  background : transparent;
  width : 20%;
  height : 100%;
}

.operators button {
  height : 40px;
  width : 40px;
  background : transparent;
  border : none;
  font-size : 1.2em;
  border-radius : 10px;
  padding-top : 25px;
  margin-left : 10px;
}*/

.bottomRow {
  margin-top: -1em;
  /*display: none;*/
  /*background-color: yellow;*/
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*height: 20%;
  width: 80%;
  /*background: transparent;*/
  /*top: -6em;*/
  /*font-size : 16px;*/
}

.bottomRow button {
  /*color : red;*/
}

/*@media (max-device-width: 600px) {
  .main {
    width : 100%;
    height : 100%;
    top : 0;
  }

  #view-out {
    width : 100%;
    height: 40vh
  }

  #answer-auto {
    width : 100%;
    height : 10vh;
    border : 2px solid red;
    top : 10px;
    background-color: red;
  }

  .numberpad {
    width : 100%;
    height : 100%;
    visibility: hidden;
    margin-bottom : 0px;
  }

  button {
    width : 30%;
    height : 5em;
    font-size : 40px;
    visibility: hidden;
  }

  .numbers button {
    margin : 10px;
    font-size : 40px;
  }

  .right-align {
    height : 100%;
    width : 20%;
    position : absolute;
    margin-top : 22em;
    right : 0px;
  }

  .right-align button {
    width : 100%;
    height : 5em;
    text-align : center;
    font-size : 40px;
  }

  .operators button {
    width : 100%;
    height : 5em;
    text-align : center;
    font-size : 40px;
  }

  .bottomRow {
    width: 80%;
    height: 10%;
    background: transparent;
    position: relative;
    margin-top: -20em;
    font-size : 50px;
  }
}*/
