body {
  height : auto;
}

.main {
  height : 31em;
  width : 20em;
  font-family : Helvetica;
  color : #444;
  border : 1px solid grey;
  margin : 5% auto;
  user-select : none;
}

.view {
  height : 37%;
  text-align: right;
  letter-spacing: 5px;
  overflow: hidden;
}

#view-out {
  height : 70%;
}

#view {
  float: right;
  position: relative;
  bottom : -20%;
  padding: 8% 0;
  line-height: 20px;
}

#answer-auto {
  height : 30%;
}

#answer {
  float: right;
  font-size : 20px;
  color : #B3B7BE;
}

.numberpad {
  height : 63%;
  width: 100%;
  background-color : #555;
  display : flex;
}

button {
  height : 3.5em;
  width : 3em;
  color : #EEE;
  background : transparent;
  border : none;
  outline : none;
}

.numbers {
  background : #222;
  min-width : 75%;
  height : 100%;
}

/*Not sure if this is needed*/
.numbers button {
  font-size: 1.5em;
}

.right-align {
  min-width: 25%;
  text-align: center;
}

.right-align button {
  width : 100%;
  text-align: center;
  font-size: 1.4em;
  margin-top : -14px;
}

.clear {
  padding-top: 1em;
}

.bottomRow {
  margin-top: -1em;
}

@media (max-device-width: 600px) {
  .main {
    margin-top: 0em;
    width : 100vw;
    border : none;
    height : 100vh;
  }

  .numberpad {
    text-align: center;
  }

  button {
    width : 30%;
    height : 3.8em;
  }
}
