h1 {
  text-align : center;
}

.main {
  height : 10em;
  width : 300px;
  font-family : Helvetica;
  color : #444;
  border : 1px solid grey;
  margin : 0 auto;
  position: relative;
  top: 100px;
}

#view-out {
  height : 120px;
  width : 300px;
  background: white;
  text-align: right;
  letter-spacing: 5px;
  overflow: hidden;
}

#view {
  float:right;
  margin-top : 30px;
}

#answer-auto {
  height : 40%;
  width : 100%;
  bottom : 10px;
  text-align : right;
  position: absolute;
  font-size : 18px;
  overflow: hidden;
  color : #B3B7BE;
}

#answer {
  float: right;
}

.numberpad {
  height : 300px;
  width : 300px;
  background : #555;
  border : 1px solid grey;
  border-top : none;
  margin-left : -1px;
  position: relative;
}

button {
  height : 69px;
  width : 70px;
  color : #EEE;
  background : transparent;
  border : none;
  outline: none;
  font-size : 30px;
  border-radius : 50%;
  text-align: center;
  //background-color: red;
}

.numbers {
  background : #222;
  width : 80%;
  height : 100%;
  margin : 0px;
  color : red;
}

.numbers button {
  font-size: 22px;
}

.right-align {
  position: relative;
  top : -22em;
}

.right-align .operators button {
  padding-top : 30px;
  //padding-bottom : 10px;
}



.operators {
  position: absolute;
  right : 0px;
  top : 3em;
  background : transparent;
  width : 20%;
  height : 100%;
}

.operators button {
  height : 40px;
  width : 40px;
  background : transparent;
  border : none;
  font-size : 25px;
  border-radius : 10px;
  padding-top : 25px;
  margin-left : 10px;
}

.clear {
  position: absolute;
  right : 0px;
  background : transparent;
  width : 20%;
  text-align : center;
  font-size : 12px;
}

.bottomRow {
  background : yellow;
  height: 20%;
  width: 80%;
  background: transparent;
  position: relative;
  top: -6em;
  font-size : 16px;
}
